*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    width: 100%;
    height: 100%;
}


.container {
    width: 1280px;
    margin: 0 auto;
}

.header-top {
}

.text-black{
    color: #000000;
}
.logo{
    width: 334px;
    padding: 60px 0 60px;
    height: 79px;
    left: 0;
    top: 0;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.underline-link{
    text-decoration: none;
    color: deepskyblue;
}
.top-menu {
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    background-color: #35444f;
}

.top-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 163px;
}
.top-menu-item{
    display: inline-block;
    padding: 26px 40px 20px;
    background-color: #35444f;
    border-left: 1px solid #FFFFFF;

}
.top-menu-link{
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
}
.nod{
    padding-right: 150px;
}
.top-menu-item:hover{
    background-color: #222F3A;
}
.main-block{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    margin-top: 85px;
}


.aside-menu{
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    width: 344px;
    height: 399px;
    border: 1px solid #838d94;
}
.aside-menu-list{

}
.aside-menu-item{
    padding: 26px 45px;
}

.aside-menu-link{
    text-decoration: none;
    font-size: 27px;
    color: #485863;;
}
.aside-menu-link:hover{
    color: #1c2328;;
}
.aside-menu-item:hover{
    background-color: #DBDBDB;
    padding-left: 60px;
    color: #1c2328;
}
.image-text-block{
    width: 885px;
}
.image-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    height: 529px;
    border: 1px solid #000000

}
.image-ram{
    width: 320px;
    height: 381px;
}
.text-block{
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 20px;
}
.text-block-desc{
    display: inline-block;
    font-size: 18px;
    color: #2C2C2C;
    margin-bottom: 35px;

}

.footer-menu{
    height: 70px;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu-list{
    display: inline-block;
}
.footer-menu-link{
    text-decoration: none;
    color: #010101;
}
.footer-menu-link:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.footer-menu-item{
    display: inline-block;
    padding: 20px 10px;
    font-size: 28px;
    color: #010101;
}
.item-first{
    padding-left: 40px;
}
.footer-item-end{
    font-size: 24px;
    padding-left: 140px;
}

