* {
    font-family: Roboto, sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 25px;
}

.header a {
    color: white;
}

.logo {
    display: flex;
}

.logo:hover #logo-icon {
    fill: orange;
}

.logo:hover .title, .logo:hover .subtitle {
    color: orange;
}

.logo-icon {
    width: 53px;
    height: 47px;
}

.logo-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: white;
    text-transform: uppercase;
}

.holiday-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.contacts a:hover {
    color: orange;
}

.contacts-email {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.contacts-tel {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour-card {
    width: calc((100% - 120px) / 3);
    margin-bottom: 37px;
}

.tour-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tour-type:hover .tour-type-info {
    display: flex;
}

.tour-type:hover .tour-type-title {
    color: orange;
}

.tour-type:hover .tour-type-info {
    visibility: visible;
    bottom: 0;
    color: orange;
}

.card-img-frame {
    position: relative;
}

.tour-type-img {
    display: block;
    max-width: 100%;
    object-fit: none;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, black, white);
    box-sizing: border-box;
}

.tour-type-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    text-transform: capitalize;
}

.tour-type-info {
    background-color: #F26522;
    position: absolute;
    bottom: -25px;
    width: 100%;
    display: flex;
    visibility: hidden;
    justify-content: space-between;
    padding: 7px 37px 12px 16px;
    box-sizing: border-box;
    transition: bottom 1s ease-out;
}

.tour-type-info-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.from {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.price-currency, .price-value {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.tour-type-info-right {
    display: flex;
    align-items: flex-end;
}

.details {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.details::after {
    content: "";
    display: block;
    border: 1px solid #fff;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
    position: absolute;
    right: 16px;
    bottom: 15px;
}

.page-footer {
    display: flex;
    justify-content: center;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 13px 0 15px;
}
