body{
    margin: 0;
    width: 1280px;
    height: 1626px;
}

.header{
    /*text-align:justify;*/

}


.navbar{
    display: block;
    margin: 12px 32px 12px 32px;
    padding: initial;
    list-style-type: none;
    text-align: center;


}

.navbar-item{
    margin: inherit;
    display: inline-block;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;

}

.underline-link{
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}
.main-block{
    padding-right: 60px;
    padding-left: 60px;
}

.article-title{
    margin: 42px 250px 27px 290px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
}
.text-lorem{
    display: block;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}
.text-article{
    display: block;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.red-button{
    width: 191px;
    height: 51px;
    margin: 40px 470px 40px 470px;
    color: white;
    background: #f3632c;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.footer-text{
    padding-right: 105px;
    padding-bottom: 26px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: end;

}


