.body-wrapper {
    background-image: url("../images/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
a {
    outline: none;
    text-decoration: none;
    color: #000;
}
.page-header {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header a:hover {
    color: #236D47;
}
.logo {
    margin-left: 80px;
}
.logo-link {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.nav {
    display: flex;
    align-items: center; 
}
.nav svg {
    margin-right: 25px;
}
.compass:hover path, .calendar:hover path, .mail:hover path {
    fill: #236D47;
   
}
.welcome {
    margin-right: 80px;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 25px;   
    position: relative;  
}
.welcome::before {
    content: '';
    height: 20px;
    width: 1px;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: -25px;
    top: -2px;
}
.welcome a {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;   
    text-transform: capitalize; 
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}
.form-frame {
    background-color: #FFFFFF;
    padding: 30px 60px 40px;
    box-sizing: border-box;
    width: 445px; 
    position: relative;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sign-up-heading::before {
    content: '';
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}
.sign-up-heading {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-bottom: 15px;
}
.form-login-link {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.form-login-link:hover {
    color:#01813F;
    text-decoration: underline;
}
.form-socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
.social {
    height: 50px;
    width: 160px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-icon-frame {
    position: relative;
}
.social-icon-frame::after {
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    right: -15px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.social-icon-frame:last-child::after {
    background-color: #2B0D09
}
.social:first-child {
    background-color: #305DB8;;
}
.social:first-child:hover {
    background-color: #022263;
}
.social:last-child {
    background-color: #DF4A32;
}
.social:last-child:hover {
    background-color: #AB1F09;
}
.social-name {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.delimiter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.delimiter::before, .divider::after {
    content: '.';
    font-size: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
}
.or {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding: 5px;
}
.form-input {
    font-family: Ubuntu, sans-serif;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    height: 45px;
    padding-left: 20px;
    box-sizing: border-box;
}
.form-input::placeholder {
    font-family: Ubuntu, sans-serif;
}
.form-input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.terms-conditions {
    font-family: Ubuntu, sans-serif;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 20px;
}
.terms {
    color: #3CB878;
    text-transform: capitalize;
}
.terms:hover {
    text-decoration: underline;
    color: #01813F;
}
.create-btn {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.create-btn:hover {
    background-color: #01813F;
}
